/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

#header {
  background-color: #111826;
  color: #fff;
  display: flex;
  border-top: 1px solid #373a42;
  padding-top: 2vh;
}
#header .headerLeft {
  width: 50%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header .headerLeft h1 {
  font-size: 5em;
  text-transform: uppercase;
  text-align: left;
  line-height: 1em;
}
#header .headerLeft h1 .highlight {
  color: #2664eb;
}
#header .headerLeft .seeStore {
  padding: 1rem;
  background: rgb(57, 126, 237);
  background: linear-gradient(90deg, rgb(57, 126, 237) 0%, rgb(31, 60, 140) 100%);
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
#header .headerRight {
  width: 50%;
}
#header .headerRight img {
  z-index: 10;
  position: relative;
  width: 80%;
}
#header .headerRight .nikeBrand {
  font-size: 15em;
  max-height: 1px;
  overflow: visible;
  position: relative;
  top: 25%;
  z-index: 5;
  -webkit-text-stroke: 2px #373a42;
  color: #111826;
  text-transform: uppercase;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100vw;
  background-color: #111826;
  align-items: center;
}
nav #brandname {
  flex-grow: 0;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: none;
}
nav #navlinks {
  flex-grow: 0;
  display: flex;
}
nav #navlinks a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
  display: block;
  padding-left: 1%;
  padding-right: 1%;
}
nav #navcart {
  flex-grow: 0;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
}
nav #navcart img {
  width: 2rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}
body main .container {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body main .container #container-btn {
  display: flex;
  justify-content: end;
}
body main .container form h1 {
  text-align: center;
  margin-bottom: 20px;
}
body main .container form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
body main .container form input[type=text],
body main .container form input[type=email] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
body main .container form button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
}
body main .container form button:hover {
  background-color: #4cae4c;
}

body {
  padding: 0%;
  overflow-x: hidden;
}
body main {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(17, 24, 38) 100%);
  padding-left: 5%;
  padding-right: 5%;
}
body main h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  width: 95%;
  border-top: 1px solid #373a42;
  padding-top: 5%;
  margin-left: 2%;
}
body main h2 .highlight {
  color: #2664eb;
}
body main #products {
  display: flex;
  justify-content: space-evenly;
}
body main #products .cards {
  margin: 2%;
}
body main #products .cards img {
  background-color: #111826;
  padding: 5%;
  padding-left: 25%;
  padding-right: 25%;
  box-shadow: 0px 10px 120px 0px black;
}
body main #products .cards .bottomCard {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}
body main #products .cards .bottomCard .cardLeft {
  width: 50%;
  color: #fff;
}
body main #products .cards .bottomCard .cardRight {
  width: 35%;
  background-color: #3b82f5;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
body main #featured {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=style.css.map */